<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div id="back"></div>

    

    <div id="header" class="hehe">
        
        <div id="left">
            <div class="imgggs">
                <img id="header-img" src="https://www.pinclipart.com/picdir/big/525-5258420_mechanical-engineering-logos-clip-art-png-5-.png">
                <h1>JC Motorworks</h1>
            </div>
        </div>
        
        <div id="right">
            <ul>
                <li><a href="#Pricing">Pricing</a></li>
                <li><a href="#Features">Features</a></li>
                <li id="hello"><a href="#Performance">Performance</a></li>
            </ul>
        </div>

        <div class="men">
            <div class="bug"></div>
            <div class="bug"></div>
            <div class="bug" style="margin-bottom: 10px;"></div>
        </div>
    
    </div>



    <main id="main">

        <div id="outer">

            <div id="search">
                <h1 class="title" style="text-align: center;">Search your dream model</h1>
                <div id="ser-inp">
                    <input type="text" name="search" id="searching" placeholder="Search">
                    <button id="sub"><i class="fa fa-search"></i></button>
                </div>
                
            </div>
    
            <div id="Features">
                <div class="engine">
                    <img class="imgs" src="https://www.pngkey.com/png/full/81-816593_bugatti-transparent-1500hp-2017-bugatti-chiron-engine.png">
                    <div class="desc">
                        <h2 class="title">Engine</h2>
                        <p>The heart of the CHIRON is its quad-turbocharged 8 l W16 engine. This unique masterpiece generates an incredible 1,500 hp and 1,600 Nm of torque, with an almost linear power output between 2,000 and 6,000 rpm. Four high-performing turbochargers work in a two-stage controlled configuration, and define this champion of performance. A remarkable 60,000 liters of air are pumped through the engine every minute.</p>
                    </div>
                </div>
                
                <div class="engine">
                    <img style="height: 150px; padding-right: 15px;" class="imgs" src="https://www.pngkit.com/png/full/45-455697_brake-wilwood-brakes.png">
                    <div class="desc">
                        <h2 class="title">Brakes</h2>
                        <p>Bugatti currently uses the most powerful brakes in the world on the new Chiron. The brake calipers were an entirely new development. They are forged from a block of high-strength aluminium alloy. With eight titanium pistons on each of the front calipers and six on each of the rear units, these are also the largest brake calipers currently installed on a production vehicle. The brake calipers of the Chiron are produced using bionic principles on the basis of a natural model. The new architecture combines minimum weight with maximum stiffness. The inspiration for the design and mode of operation of the brakes was taken from motorsports.</p>
                    </div>
                </div>

                <div class="engine">
                    <img style="height: 120px;" class="imgs" src="https://www.zf.com/products/media/product_media/cars_5/cars_driveline_8_speed_dual_clutch_transmission/8DT_Cut_ProductImage_3_2_748px.png">
                    <div class="desc">
                        <h2 class="title">Greabox</h2>
                        <p>The Veyron is equipped with the dual-clutch gearbox (DSG), which is the fastest gearbox in the world. Bugatti was the first manufacturer to use a seven-speed variant of the DSG. Designed specially for the new sports car, this gearbox has a job which any other gearbox would balk at, i.e. to transfer engine torque of up to 1,500 Nm to the road surface.</p>
                    </div>
                </div>

            </div>
    
            <div id="Performance">
                <iframe id="you" height="100%" src="https://www.youtube.com/embed/PkkV1vLHUvQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                
            </div>
    
            <div id="Pricing">
                <div class="in">
                    <div class="card" id="left-card">
                        <div class="test">
                            <h2>LES LÉGENDES DU CIEL</h2>
                            <p><b>$2,990,000</b><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, aspernatur fuga? Impedit dolores, possimus enim quod porro<br><button>Select</button></p>
            
                        </div>
                    </div>
                    <div class="card" id="cen">
                        <div class="test">
                            <h2>SUPER SPORT 300+</h2>
                            <p><b>$3,190,000</b><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, aspernatur fuga? Impedit dolores, possimus enim quod porro<br><button>Select</button></p>
                        </div>
                    </div>
                    <div class="card" id="right-card">
                        <div class="test">
                            <h2>SPORT 110 ANS</h2>
                            <p><b>$3,590,000</b><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, aspernatur fuga? Impedit dolores, possimus enim quod porro<br><button>Select</button></p>
                        </div>
                    </div>
                </div>
                

            </div>

        </div>

        <div class="foot">
            <div class="one">
                <p class="hey"><a href="">Terms</a><a href="" id="hi">Privacy   </a><a href="">Contact</a></p>
            </div>
            <div class="two">
                <p><a href="" class="fa fa-facebook"></a><a href="" class="fa fa-instagram"></a><a href="" class="fa fa-google"></a><a href="" class="fa fa-twitter"></a><a href="" class="fa fa-linkedin"></a></p>
            </div>
            <div class="three">
                <p style="text-align: center;">Copyright 2021, JC Motorworks</p>
            </div>
        </div>

    </main>

</body>
</html>